input:focus{
    transition: all 200ms;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    z-index: 10;
    outline: none;
    padding-left: 70px;
}
@media screen and (min-width: 700px) {
    .right-img{
        margin-top: 0px !important;
        filter: grayscale(30%);
        -webkit-filter: grayscale(30%);
}
}